# Random Forest

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

importing libraries

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
dataset = pd.read_csv('/content/drive/MyDrive/Big Data Project/petrol_consumption.csv')

importing dataset

In [ ]:
dataset.head()

,Petrol_tax,Average_income,Paved_Highways,Population_Driver_licence(%),Petrol_Consumption
0,9.0,3571,1976,0.525,541
1,9.0,4092,1250,0.572,524
2,9.0,3865,1586,0.580,561
3,7.5,4870,2351,0.529,414
4,8.0,4399,431,0.544,410

data training

In [ ]:
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

feature scaling

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

traning algorithm

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

evaluating algo.

In [ ]:
from sklearn import metrics

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 51.76500000000001
Mean Squared Error: 4216.166749999999
Root Mean Squared Error: 64.93201637097064

### random forest **classification**

importing libraries and dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import numpy as np
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report

In [ ]:
dataset = pd.read_csv("/content/drive/MyDrive/Big Data Project/bill_authentication.csv")

In [ ]:
dataset.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

data training

In [ ]:
X = dataset.iloc[:, 0:4].values
y = dataset.iloc[:, 4].values

feature scaling

In [ ]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

train algo.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [ ]:
from sklearn.ensemble import RandomForestRegressor

regressor = RandomForestRegressor(n_estimators=20, random_state=0)
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

evaluating algo.

In [ ]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

In [ ]:
print(y_test, y_pred)

[0 0 0 0 0 0 0 0 0 0 1 1 0 1 0 1 1 1 1 1 0 0 1 0 1 0 0 1 0 0 1 0 0 1 1 0 1
 1 1 0 0 1 1 0 1 1 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 1 0 0 0 0 0 0 1 1 0 1 0
 1 0 0 1 1 1 1 0 1 0 0 0 0 1 1 0 0 0 1 1 0 1 1 0 0 0 1 0 0 0 1 0 0 1 1 1 1
 1 0 1 1 1 0 1 1 0 1 0 1 0 1 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 0 1 1 1 1
 1 0 1 1 1 0 1 0 1 0 0 0 1 1 1 1 1 0 1 0 0 0 0 0 0 1 0 0 1 1 0 0 0 0 1 0 1
 0 1 1 0 0 1 0 0 1 1 1 1 0 0 1 1 1 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1
 1 0 1 0 0 1 1 1 1 0 1 0 1 1 1 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 1
 1 0 0 0 1 1 0 1 0 1 1 1 1 0 0 0 0 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 1 1 0 1 0
 1 1 0 0 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 0 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0
 0 0 1 0 1 1 1 1 0 1] [0.   0.   0.1  0.   0.   0.   0.   0.15 0.   0.   0.9  1.   0.   0.95
 0.05 1.   1.   1.   1.   1.   0.   0.1  1.   0.   1.   0.   0.   1.
 0.   0.   1.   0.   0.05 0.95 1.   0.   0.85 0.9  1.   0.   0.   1.
 0.95 0.05 1.   1.   1.   0.   0.   1.   0.   0.   0.   0.   0.   1.
 0.   0.   0.   0.   1.   0.   1.   0.   0.   0.   0.   0.05 0.3  1.
 0.95 0.   1.   0.   0.55 0.   0.   1.   1.   0.8  1.   0.   1.   0.
 0.   0.   0.   1.   1.   0.   0.   0.   0.65 1.   0.   1.   1.   0.
 0.   0.   1.   0.   0.2  0.   1.   0.   0.   1.   1.   1.   1.   0.95
 0.   1.   0.85 1.   0.   1.   1.   0.   1.   0.   0.6  0.   1.   0.
 1.   1.   0.   1.   1.   0.   0.05 0.   0.   0.   1.   0.   0.   0.
 0.   0.   0.9  0.   1.   0.95 1.   0.95 1.   0.   1.   1.   1.   0.
 0.85 0.   0.95 0.   0.   0.   1.   1.   1.   1.   0.8  0.   1.   0.
 0.   0.   0.05 0.   0.   1.   0.   0.   1.   1.   0.   0.   0.   0.
 1.   0.   1.   0.   1.   1.   0.   0.   1.   0.   0.   1.   1.   1.
 0.75 0.   0.05 1.   1.   1.   0.   0.   1.   1.   0.9  0.95 0.2  0.
 0.   0.   0.   0.   0.   0.   0.   0.   1.   1.   1.   1.   0.85 0.
 1.   0.   0.   1.   1.   0.9  1.   0.   0.6  0.   1.   1.   1.   1.
 0.   0.   0.   1.   0.   1.   1.   1.   0.   0.   0.   0.   0.   0.
 1.   0.   0.9  0.   0.   0.   1.   1.   0.   0.   0.   1.   0.95 0.
 1.   0.   1.   0.95 1.   0.8  0.   0.   0.   0.   0.   1.   0.1  0.05
 1.   0.   1.   0.   0.   1.   0.   0.   0.   0.   0.   1.   1.   0.
 1.   0.   0.85 1.   0.   0.   0.   0.   0.   0.   0.   1.   1.   1.
 0.   0.   1.   1.   0.   0.   0.   0.   0.   0.   1.   0.   1.   0.8
 0.95 0.   0.   0.   0.   0.85 0.   0.   0.   0.   0.   0.   0.   1.
 0.   1.   1.   0.9  1.   0.   1.  ]

Accuracy of this algorithm

In [ ]:
print(accuracy_score(y_test,y_test))

1.0

# The accuracy achieved for by our random forest classifier with 20 trees is 100%.